* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F2F3F5;
    font-size: 16px;
    font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    height: 64px;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #494E59;
}   

.logo {
    margin: 0 15px 0 25px;
}

.logo-text {
    font-weight: bold;
}

.pagination>ul,
li {
    display: inline-block;
}

.pagination li {
    margin-right: 5px;
}

.movies-list-container {
    display: flex;
    flex-flow: row wrap;
}

.movie-item {
    position: relative;
    width: 185px;
    height: 235px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 .2em rgba(0, 0, 0, 0.1);
}

.movie-item:hover .movie-title {
    display: block;
}

.movie-item:hover .movie-image {
    filter: blur(1px);
}

.movie-item:hover .movie-title-wrapper {
    background-color: rgb(0, 0, 0, 0.65);
}

.movie-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: filter 0.35s;
}

.movie-title-wrapper {
    position: absolute;
    padding: 0 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.is-movie-title-wrapper-show {
    background-color: rgb(0, 0, 0, 0.65);
}

.movie-title {
    display: none;
    color: white;
}

.is-title-show {
    display: block;
}

.movie-image-loading {
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}