* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F2F3F5;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    height: 64px;
    color: white;
    background-color: #494E59;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.header-wrapper {
    width: 100%;
    max-width: 1025px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    margin: 0 20px 0 15px;
}

.header-logo-text-wrapper {
    flex: 1 0 auto;
}

.header-logo-text {
    font-weight: bold;
}

.my-account-dropdown {
    height: 32px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px white solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.my-account-dropdown>span {
    padding: 5px 10px;
}

.movies-container {
    margin: 114px auto 0;
    min-width: 205px;
}

.movie-list {
    margin: 0 auto;
    max-width: 1025px;
}

.movie-list-title {
    margin: 0px 10px;
    color: rgb(160, 160, 170);
    font-weight: bold;
}

.movies-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.movie-item {
    position: relative;
    width: 185px;
    height: 235px;
    margin: 15px 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.movie-item:hover .movie-image {
    filter: blur(1px);
}

.movie-item:hover>div:not(.is-background-purple) {
    background-color: rgb(50, 50, 50, 0.65);
}

.movie-item:hover .movie-title {
    display: block;
}

.is-background-purple {
    background-color: rgba(50, 0, 100, 0.65);
}

.movie-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: filter 0.35s;
}

.movie-title-wrapper {
    position: absolute;
    padding: 0 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.movie-title {
    display: none;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    line-height: 1.2em;
}

.is-title-show {
    display: block;
}

.movie-image-loading {
    height: 100%;
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    margin: 25px 0px 50px;
    display: flex;
    justify-content: center;
}

.pagination>ul,
li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.pagination li {
    padding: 10px 15px;
    border: 1px solid gray;
    margin-right: -1px;
}

.pagination a {
    text-decoration: none;
    color: rgb(173, 173, 173);
    font-weight: bold;
}

.pagination span {
    text-decoration: none;
    color: rgb(173, 173, 173);
    font-weight: bold;
}

.pagination li:first-of-type * {
    color: green;
}

.pagination li:last-of-type * {
    color: green;
}

.is-first-in-pagination {
    border-radius: 5px 0px 0px 5px;
}

.is-last-in-pagination {
    border-radius: 0px 5px 5px 0px;
}

.is-current-page {
    color: rgb(110, 0, 170) !important;
}

.modal-movie {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 64px 0 0 0;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
}

.modal-movie .modal-background-img {
    filter: blur(20px);
}

.modal-content {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.3);
}

.modal-close-btn {
    position: absolute;
    top: 64px;
    left: 0;
}

.modal-next-btn {
    position: absolute;
    top: 64px;
    right: 0;
}

.movie-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: bold;
}

.modal-movie-img {
    margin: 0 30px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.modal-info-text {
    max-width: 500px;
    line-height: 1.2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.modal-info-text p {
    margin: 0px;
}

#modal-title {
    margin: 15px 0 15px 0;
}

#modal-score {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#modal-info-text-second {
    margin: 20px 0 10px 0;
    padding: 14px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 500;
}

@media screen and (max-width: 1050px) {
    .movie-list,
    .header-wrapper {
        max-width: 820px;
    }
}

@media screen and (max-width: 850px) {
    .movie-list {
        max-width: 410px;
    }
}

@media screen and (max-width: 440px) {
    .movie-list {
        max-width: 205px;
    }
    .my-account-dropdown>span {
        display: none;
    }
    .pagination li {
        display: none;
    }
    .pagination ul li:nth-child(-n+2) {
        display: inline-block;
    }
    .pagination ul li:nth-last-child(-n+2) {
        display: inline-block;
    }
}