* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F2F3F5;
    font-size: 16px;
    font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    height: 64px;
    color: white;
    background-color: #494E59;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.header-wrapper {
    width: 80%;
    max-width: 1025px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    margin: 0 15px 0 10px;
}

.header-logo-text {
    font-weight: bold;
    flex: 1 0 auto;
}

.movies-container {
    margin: 50px auto 0;
    width: 80%;
    max-width: 1025px;
}

.movie-list-title {
    margin: 0px 10px;
    color: rgb(160, 160, 170);
    font-weight: bold;
}

.movies-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.movie-item {
    position: relative;
    width: 185px;
    height: 235px;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 .2em rgba(0, 0, 0, 0.1);
}

.movie-item:hover .movie-title {
    display: block;
}

.movie-item:hover .movie-image {
    filter: blur(1px);
}

.movie-item:hover .movie-title-wrapper {
    background-color: rgb(0, 0, 0, 0.65);
}

.movie-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: filter 0.35s;
}

.movie-title-wrapper {
    position: absolute;
    padding: 0 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.is-background-gray {
    background-color: rgb(0, 0, 0, 0.65);
}

.movie-title {
    display: none;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    line-height: 1.2em;
}

.is-title-show {
    display: block;
}

.movie-image-loading {
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination>ul,
li {
    display: inline-block;
    padding: 0px;
}

.pagination li {
    margin-right: 5px;
}